<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - the ClassRoom</title>
        {% else %}
        <title>Welcome to the ClassRoom</title>
        {% endif %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <h4 style="color: azure;">classRoom</h4>
            <ul class="navbar-nav">
                {% if current_user.is_anonymous %}               
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">  
                <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                </li>
                {% else %}
                <li class="nav-item">        
                <a class="nav-link" href="{{ url_for('course') }}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('newcourse') }}">NEW_COURSE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('joincourse') }}">JOIN_COURSE</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %} -->
        <div class="container">
            <div class="row">
        <div class="col-xl-2" style="text-align: center">{% block a %}{% endblock %}</div>
        <div class="col-xl-8" style="text-align: center">{% block content %}{% endblock %}</div>
        <div class="col-xl-2" style="text-align: center">{% block c %}{% endblock %}</div>
            </div>
        </div>
    </body>
</html>