<html>
    <head>
      {% if title %}
      <title>{{ title }} - the ClassRoom</title>
      {% else %}
      <title>Welcome to the ClassRoom</title>
      {% endif %}
    </head>
    <body>
        <div class="nav-bar">
        {% if current_user.is_anonymous %}
        ClassRoom: <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('login') }}">Log In</a>
        {% else %}
        ClassRoom: <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>