{% extends "app_home.html" %}
<!-- {% block image %}
<img src="/static/trees.jpg" alt="trees" style="width:100%;">
{% endblock %} -->
{% block primary %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xl-2" style="text-align: center; align-content: space-between;">{% block a %}{% endblock %}</div>

        <div class="col-xl-8" style="text-align: center">{% block content %}{% endblock %}</div>
    <div class="col-xl-2" style="text-align: center">{% block c %}{% endblock %}</div>
        </div>
    </div>

{% endblock %}