{% extends "base.html" %}


{% block content %}
    {% if assignments %}
    {% for assignment in assignments %}
    <p><a href="{{ url_for('openassignment', code=course.code, id=assignment.id) }}">{{ assignment.title }}</a></p>
    {% endfor %}
    {% else %}
    <p>No assignments yet!</p>
    {% endif %}
{% endblock %}
    <!-- <h1>Hello, this is a course page</h1> -->
    <!--showing all the students of the course-->
{% block c %}
    {% if students %}
    {% for student in students %}
    <p>{{ student.username }}</p>
    {% endfor %}
    {% endif %}
{% endblock %}

{% block a %}
    <div><a href="{{ url_for('deletecourse', code=course.code) }}">Delete the course</a></div>
    <div><a href="{{ url_for('newassignment', code=course.code) }}">Add a question</a></div>
{% endblock %}
    